body {
  margin: 0;

  font-size: 18px;
  font-family: "Verdana";
}

body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
body > div {
  flex: 1;
}

.game-intro {
  position: absolute;
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-img {
  width: 1000px;
  height: 500px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: black;
  color: #fff;
  padding: 20px 430px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

p {
  font-size: 30px;
}

@keyframes background-img {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1920px 0px;
  }
}
#backgroundAnimation {
  animation: defile 5s infinite;
}
